@model MoviesE_commerce.Models.User

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}
<br />
<br />
<br />
<section class="vh-100" style="background-color: #fdbcd2;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-12 col-lg-12 col-md-12">
        <div class="card" style="border-radius: 1rem; max-width: 1000px; margin: auto;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
             @* <img src="https://img.freepik.com/free-photo/3d-person-watching-movie-cinema_23-2151024907.jpg?size=626&ext=jpg&ga=GA1.1.1850333881.1701728966&semt=ais_user"*@
              <img src="https://img.freepik.com/premium-vector/user-login-with-character-concept-any-purpose-vector-line-certificate-icon-design_194782-640.jpg?size=626&ext=jpg&ga=GA1.1.1850333881.1701728966&semt=ais_user"   
             alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; max-height: 100%;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-4 text-black">

                <form action="/Register/SignIn" method="post">

                  @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["Message"]
                            </div>
                        }

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div data-mdb-input-init class="form-outline mb-3">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" name="Email" required />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-3">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" name="Password" required />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-3">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block" type="submit" style="background-color: #dd0d63; color: #fff;">Login</button>
                  </div>
                  

                  <p class="mb-4 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/Register/SignUp"
                      style="color: #393f81;">Register here</a></p>
                     
                </form>
             <div class="pt-1 mb-3" style="width: fit-content; margin-left: auto;">
    <button onclick="goBack()" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg" style="background-color: #fdbcd2; color: #fff;">Back</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
